.partners {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 15px;
}

.partners__iframe {
    max-width: 150px;
    max-height: 50px;
    border: none;
    border-radius: 3%;
}


@media screen and (max-width: 360px) {
    .partners {
        display: none;

    }
    } 