@import url(./header.css);
@import url(./footer.css);
@import url(./button.css);

*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(38 38 38);
    font-family: 'Exo 2', sans-serif;
    color: rgba(237 237 237);
}
h1 {
color: rgba(237, 237, 237);
}
h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    color: rgba(237 237 237);
    font-size: 2em;
}
h2{  font-family: 'Neucha', cursive;
    font-weight: 800;
    color: rgba(237 237 237);
    font-size: 1.8em;

}
h3{
    margin-top: 15px;
    color: rgba(210 19 22);
    font-size: 1,5em;
    font-family: 'Neucha', cursive;
}
/*______header___________*/




/*-------media------------------*/

@media only screen and (max-width: 1000px) {
    .description-quest{
     display: block;
        padding: 15px 15px;
   }
   
}
   
@media only screen and (max-width: 980px) {

   div#game-quest-img{
width: 45%;
         margin: 0;
       padding: 15px;
}
      .footer-img{
       width: 15px;
   }
        .footer-img:hover{
       width: 16px;
   }
   
   .footer-call p{
     font-size:   3px;
   }
   .booking-all{
       font-size: 0.6em;
   }
   button{
       font-size: 0.9em;
   }
 .description-quest{
     display: block;
     margin: 30px;
   }
   .game-img{
       width: 350px;
   }
   .sale-happy{
       font-size: .5em; 
   }
   .sale img{
   width: 45px;
        margin: 0 50px 10px 0;
 
}
     .booking-all{
       font-size: 0.4;
   }
   .sertifikat-gifs{
       background: black;
   }
   .gifs{
   font-size: .5em;
   padding: 50px 100px 50px 30px;
   text-align: left;
  
   }
.sert{
    font-size: .6em;
   padding: 30px;
   margin: 0px;
   text-align: left;
}
.sert > h2{
    font-size: 1em;
}
   
   .sertifikat{
     
    width: 200px;
    justify-content: space-between;
   padding: 30px;
  box-shadow: 0 5px 10px 0 rgba(255,255,255,0.24), 0 5px 12px 0 rgba(255,255,255,0.19);
   border-radius: 30px;
     font-size: .8em;
   opacity: 1;
}
.sert-doun{
   font-size: 0.5em;
   margin: 0;
   padding: 30px;
}


   

}
/*___________________*/
.description{
    position: relative;
    height: 100vh;
}
.description__img{
   width: 100%;
   max-height: 100vh;
   z-index: 1;
   top: 0;
   left: 0;
   position: absolute;

}
.description__text {
    z-index: 2;
    font-family: 'Play', sans-serif;
    right: 30px;
    color: rgba(237 237 237);
    font-size: 2em;
}

.tabl-quest{
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 2;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    border-spacing: 5px 6px;
}

.button__more {
    color:rgba(22 22 22);
    background: rgba(237 237 237);
    font-family: 'Play', sans-serif; 
    padding: 10px 20px;
   
    border-radius: 10px;
    border: none;
    box-shadow: #E6E6E6;
    font-size: 1em;
}
.button__more:hover {
    color:rgba(237 237 237);
    background:  rgba(38 38 38);  
}
.button__booking {
    color:rgba(237 237 237);
    background: rgba(210 19 22);
    font-family: 'Play', sans-serif; 
    padding: 10px 20px;
   
    border-radius: 10px;
    border: none;
    box-shadow: #E6E6E6;
    font-size: 1em;
}
.button__booking:hover {
    color:rgba(210 19 22);
    background: rgba(237 237 237);
}
/*_____JGBCFYBT______*/
.best-quest__abaut{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.best-quest__abaut__text{
    min-width: 400px;
    width: 60%;
    display: block;
    padding-right: 30px;
    font-size: 1em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;

}
.best-quest__abaut__text >h1 {
    font-size: 1.8em;
    font-family: 'Neucha', cursive;
}

.best-quest__contact{
    min-width: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
}
.best-quest__contact_text{
    display: block;
    max-width: 45%;
    min-width: 430px;
}

.best-quest__title {
    display: block;
    justify-content: center;
    color: rgba(237 237 237);
    font-size: 0,3em;
    align-items: center;
    justify-content: center;
    display: block;
    justify-content: center;
}
span {
    font-weight: 400;
}
.booking_{
    display: flex;
    justify-content: center;
}
.booking__quest{
    position: ;
    min-width: 400px;
    width: 60%;
   display: block;
    padding-right: 30px;
    font-size: 1em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    justify-content: center;
}


/*_____________________________*/













  /*_______отзывы____________*/
.revie {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 5%;
    justify-content: center;
    
}
.revie_text{
    display: block;
    width: 280px;
    padding: 15px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    background: rgba(22 22 22);
    border-radius: 5px;
    margin: 5px;

}
.autor{
    font-family: 'Caveat', cursive;
    text-align:right;

}
.review_quest_text__img{
    width: 120px;
    height: 40px;    
}
.review_quest_text__part_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: c;
}
.review_quest_text__part{
    display: block;
}

/*обратный звонок*/
.obratnuj-zvonok{
	width: 100%;
	max-width: 350px;
}
.form-zvonok{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	box-sizing: border-box;
}
.form-zvonok div{
	padding: 15px 0;
}
.bot-send-mail{
	box-sizing: border-box;
	width: 100%;
}
.form-zvonok label,.form-zvonok input{
display: block;
width: 100%;
box-sizing: border-box;
}
.form-zvonok label{
	margin-bottom: 5px;
	font-weight: bold;
}
.form-zvonok input{
	padding: 10px 15px;
	margin-top: 10px;
}
.form-zvonok label span{
	color: red;
}
.form-zvonok .bot-send-mail{
	padding: 15px;
	margin-top: 10px;
background: none;

border: none;

text-transform: uppercase;
color: rgba(237 237 237);
	background-color: rgba(22 22 22);
	cursor: pointer;
  border-radius: 5px;
}
.text-send-mail{
  min-height: 100px;
}

.form-zvonok .bot-send-mail:hover{
	color: rgba(22 22 22);
	background-color:rgba(237 237 237);
}