.about-quest {
    position: relative;
    margin: 100px auto 0;
    width: 90%;
    padding: 0;
}

.about-quest__text {
    font-size: 1.2em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    text-align: justify;
}

.about-quest__text_span {
    font-weight: 400;
}

.about-quest__title {
    font-size: 2em;
}


@media only screen and (max-width: 800px) {
    .about-quest{
        width: 80%;
    }
    .about-quest__text {
        font-size: 1em;
    }
    .about-quest__title {
        font-size: 1.8em;
    }
}
